@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WorkflowEngine.Core.Dtos;
@model GetUserOutputDto

<div>
    @Model.FirstName
    <br />
    @Model.Id
</div>

@{

}
